{% extends 'base.jinja' %}

{% block body %}
<header>
    <h1>Welcome to LoanLens</h1>
</header>
<main>
    <Section>
        <h2>Login</h2>
        <form action="/user_login" method="POST">
            <label for="email">
                Email
                <input type="text" id="email" name="email" required>
            </label>

            <label for="password">
                Password
                <input type="password" id="password" name="password" required>
            </label>

            <button type="submit">Login</button>
        </form>
    </Section>
</main>
{% endblock %}